@import url('https://fonts.cdnfonts.com/css/satoshi');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.6 rem; // default font size 16px
}
h2 {
 font-family: 'Satoshi', sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 20px;
color: #E0E0E0;

line-height: 100%;
letter-spacing: 3%;
}